/*
Mobile Devices 319px - 480px
Ipads and Tablets 481px - 1200px
Laptops 1201px - 1600px
Desktops 1601px and more
*/

:root {
  --primary-bg: #0f0f0f;
  --secundary-bg: #342550;
  --tertiary-bg: #979797;
  --large-font-size: 2rem;
  --normal-font-size: 1.25rem;
  --medium-font-size: .8rem;
  --tity-font-size: .5rem;
  --primary-text-color: #fefefe;
  --secundary-text-color: #5a5a5a;
}

/*Preloader Animation Responsive*/
@media (max-width: 900px) {
  .preloader,
  .preloader-copy {
    flex-direction: column;
  }

  .preloader-revealer {
    width: 100%;
  }

  .preloader-copy-col {
    align-items: center;
  }

  .preloader-copy p {
    width: 100%;
  }

  .preloader-counter {
    align-items: center;
  }
}

@media (min-width: 319px) and (max-width: 480px) {
  /*Header*/  
  header {
    width: 100%;
    height: 7dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .head-nav {
    width: 95%;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    height: auto;
  
    &.shrink {
      width: 80%;
    }
  }

  .head-link {
    width: auto;
  }

  .nav-title {
    font-size: 1.8rem;
  }

  .nav-options {
    width: auto;
    height: auto;

      a {
        width: auto;
        padding: 5px;
        font-size: .5rem;
      }
  }

  .objects {
    width: auto;
  }

  /*Hero*/
  .hero-container {
    width: 95%;
    border-radius: 30px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .text-container {
    width: 100%;
    height: 20%;
    margin-top: 30px;

      .title {
        margin-bottom: 0;
      }

      .paragraph {
        width: 90%;
        text-align: justify;
        line-height: 1;
        font-size: var(--medium-font-size);
      }
  }

  .image-container {
    width: 70%;
    height: 30%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }
  }

  /*Wrapper*/
  .scroll-track {
    gap: 80px
  }

  @keyframes carousel{
    0% { transform: translateX(0); }
    100% { transform: translateX(-34.15%); }
  }

  /*Cards*/
  .technologies {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20px;
  }

  .technologies-item {
    width: 100%;
    height: 300px;
  }

  .back-content {
    font-size: 1rem;
    padding: 15px;
    text-align: center;

  }

  .git {
    font-size: 1rem;
  }

  /*Project Title Section*/
  .skill-title-container {
    font-size: 3.5rem;
  }

  #project2 {
    height: 40dvh;
  }

  .skill-content {
    width: 80%;
    height: auto;
    border-radius: 15px;

      img {
        object-fit: contain;
      }
  }

  /*Footer*/
  footer .footer-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 10px;
  }

  .author {
    width: 100%;
  }

  .footer-title {
    font-size: 1.3rem;
    width: 100%;
    margin: 0;
    text-align: center;
    align-content: center;
  }

  .copyright {
    position: relative;
    text-align: center;
    font-size: var(--tity-font-size);
  }

  .social-media {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: var(--normal-font-size);
  }
}
/*MOBILE DONE*/

/*Laptops*/