/*
Mobile Devices 319px - 480px
Ipads and Tablets 481px - 1200px
Laptops 1201px - 1600px
Desktops 1601px and more
*/

:root {
  --primary-bg: #0f0f0f;
  --secundary-bg: #342550;
  --tertiary-bg: #979797;
  --large-font-size: 2rem;
  --normal-font-size: 1.25rem;
  --medium-font-size: .8rem;
  --tity-font-size: .5rem;
  --primary-text-color: #fefefe;
  --secundary-text-color: #5a5a5a;
}

/*Preloader Animation Responsive*/
@media (max-width: 900px) {
  .preloader,
  .preloader-copy {
    flex-direction: column;
  }

  .preloader-revealer {
    width: 100%;
  }

  .preloader-copy-col {
    align-items: center;
  }

  .preloader-copy p {
    width: 100%;
  }

  .preloader-counter {
    align-items: center;
  }
}

@media (min-width: 319px) and (max-width: 480px) {
  /*Header*/  
  header {
    width: 100%;
    height: 7dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .head-nav {
    width: 95%;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    height: auto;
  
    &.shrink {
      width: 80%;
    }
  }

  .head-link {
    width: auto;
  }

  .nav-title {
    font-size: 1.8rem;
  }

  .nav-options {
    width: auto;
    height: auto;

      a {
        width: auto;
        padding: 5px;
        font-size: .5rem;
      }
  }

  .objects {
    width: auto;
  }

  /*Hero*/
  .hero-container {
    width: 95%;
    border-radius: 30px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .text-container {
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

      .title {
        font-size: 1.4rem;
        margin-bottom: 0;
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        -webkit-animation: 
        typeAndDelete 4s steps(20) infinite,
        blinkCursor 0.5s step-end infinite alternate;
        animation:
        typeAndDelete 4s steps(20) infinite,
        blinkCursor 0.5s step-end infinite alternate;
      }

      .paragraph {
        width: 80%;
        text-align: left;
        letter-spacing: normal;
        line-height: 1.45;
        font-size: var(--medium-font-size);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
  }

@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 11.5em;
  } /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}

  .image-container {
    width: 60%;
    height: 35%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }
  }

  /*Wrapper*/
  .scroll-track {
    gap: 80px
  }

  @keyframes carousel{
    0% { transform: translateX(0); }
    100% { transform: translateX(-34.15%); }
  }

  /*Cards*/
  .technologies {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20px;
  }

  .technologies-item {
    width: 85%;
    height: 300px;
  }

  .back-content {
    font-size: 1rem;
    padding: 15px;
    text-align: center;

  }

  /*Project Title Section*/

  .skill-title-container {
    height: 40dvh;
  }

  .skill-title {
    font-size: 3.5rem;
  }

  /*Footer*/
  footer .footer-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 10px;
  }

  .author {
    width: 100%;
  }

  .footer-title {
    font-size: 1.3rem;
    width: 100%;
    margin: 0;
    text-align: center;
    align-content: center;
  }

  .copyright {
    position: relative;
    text-align: center;
    font-size: var(--tity-font-size);
  }

  .social-media {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: var(--normal-font-size);
  }
}
/*MOBILE DONE*/

/*Tablets*/
@media (min-width: 481px) and (max-width: 849px) {
  /*Header*/  
  header {
    width: 100%;
    height: 8dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .head-nav {
    width: 95%;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    height: auto;
  
    &.shrink {
      width: 75%;
    }
  }

  .head-link {
    width: auto;
  }

  .nav-title {
    font-size: var(--large-font-size);
  }

  .nav-options {
    width: auto;
    height: auto;

      a {
        width: auto;
        padding: 5px;
        font-size: var(--medium-font-size);
      }
  }

  .objects {
    width: auto;
  }

  /*Hero*/
  .hero-container {
    width: 90%;
    border-radius: 30px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    gap: 30px;
    padding: 40px 20px;
  }

  .text-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

      .title {
        margin: 0;
      }

      .paragraph {
        width: 90%;
        text-align: justify;
        line-height: 1.2;
        font-size: var(--normal-font-size);
      }
  }

  .image-container {
    width: 60%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;

      img {
        width: 100%;
        height: auto;
      }
  }

  @keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 10.2em;
  } /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}

  /*Wrapper*/
  .scroll-track {
    gap: 100px
  }

  @keyframes carousel{
    0% { transform: translateX(0); }
    100% { transform: translateX(-34.456%); }
  }

  /*Cards*/
  .technologies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20px;
  }

  .technologies-item {
    width: 100%;
    height: 300px;
  }

  .back-content {
    font-size: .85rem;
    padding: 15px;
    text-align: center;

  }

  /*Project Title Section*/
  .skill-title-container {
    font-size: 4rem;
    height: 30dvh;
  }

  /*Footer*/
  footer .footer-section-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 10px;
  }

  .author {
    width: 60%;
  }

  .footer-title {
    font-size: 2rem;
    width: 100%;
    margin: 0;
    text-align: start;
    align-content: center;

  }

  .copyright {
    position: relative;
    text-align: center;
    font-size: var(--tity-font-size);
  }

  .social-media {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    gap: 20px;
    font-size: var(--normal-font-size);
  }
}
/*Tablets Done*/

/*Laptops*/
@media (min-width: 850px) and (max-width: 1200px) {
  /*Header*/  
  header {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .head-nav {
    width: 95%;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 0 10px 0;
    height: auto;
  
    &.shrink {
      width: 75%;
    }
  }

  .nav-title {
    font-size: var(--large-font-size);
  }

  .objects {
    width: auto;
  }

  /*Hero*/
  .hero-container {
    width: 95%;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .text-container {
    width: 60%;
    height: auto;
    margin-top: 30px;

      .title {
        font-size: 1.8rem;
      }

      .paragraph {
        width: 80%;
        text-align: justify;
        line-height: 1.2;
        font-size: var(--normal-font-size);
      }
  }

  .image-container {
    width: 30%;
    height: 50%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }
  }

  @keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 10.2em;
  } /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}

  /*Wrapper*/
  .scroll-track {
    gap: 120px
  }

  @keyframes carousel{
    0% { transform: translateX(0); }
    100% { transform: translateX(-34.456%); }
  }

  /*Cards*/
  .technologies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 40px;
  }

  .technologies-item {
    width: 100%;
    height: 300px;
  }

  .back-content {
    font-size: 1rem;
    padding: 15px;
    text-align: center;

  }

  /*Project Title Section*/
  .skill-title-container {
    font-size: 6rem;
    height: 40vh;
    justify-content: center;
  }


  /*Footer*/
  footer .footer-section-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 10px;
  }

  .author {
    width: 60%;
  }

  .footer-title {
    font-size: 2rem;
    width: 100%;
    margin: 0;
    text-align: start;
    align-content: center;

  }

  .copyright {
    position: relative;
    text-align: center;
    font-size: var(--medium-font-size);
  }

  .social-media {
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 35%;
    gap: 20px;
    font-size: var(--normal-font-size);
  }
}
/*Laptops Done*/

/*Desktops*/
@media (min-width: 1201px) and (max-width: 1600px) {
  /*Header*/  
  header {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .head-nav {
    width: 95%;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 0 10px 0;
    height: auto;
  
    &.shrink {
      width: 50%;
    }
  }

  .nav-title {
    font-size: var(--large-font-size);
  }

  .objects {
    width: auto;
  }

  /*Hero*/
  .hero-container {
    width: 95%;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .text-container {
    width: 60%;
    height: auto;
    margin-top: 30px;

      .paragraph {
        width: 80%;
        text-align: justify;
        line-height: 1;
        font-size: var(--normal-font-size);
      }
  }

  .image-container {
    width: 35%;
    height: 70%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }
  }

  @keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 10.2em;
  } /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}

  /*Wrapper*/
  .scroll-track {
    gap: 160px
  }

  @keyframes carousel{
    0% { transform: translateX(0); }
    100% { transform: translateX(-34.456%); }
  }

  /*Cards*/
  .technologies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 55px;
  }

  .technologies-item {
    width: 100%;
    height: 550px;
  }

  .back-content {
    font-size: 1.2rem;
    padding: 15px;
    text-align: center;

  }

  /*Project Title Section*/
  .skill-title-container {
    font-size: 7.5rem;
    height: 60vh;
  }

  /*Footer*/
  footer .footer-section-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 10px;
  }

  .author {
    width: 60%;
  }

  .footer-title {
    font-size: 2rem;
    width: 100%;
    margin: 0;
    text-align: start;
    align-content: center;

  }

  .copyright {
    position: relative;
    text-align: center;
    font-size: var(--medium-font-size);
  }

  .social-media {
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 35%;
    gap: 20px;
    font-size: var(--normal-font-size);
  }
}