@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-bg: #0f0f0f;
  --secundary-bg: #342550;
  --tertiary-bg: #979797;
  --large-font-size: 2rem;
  --normal-font-size: 1rem;
  --medium-font-size: .8rem;
  --tity-font-size: .5rem;
  --primary-text-color: #fefefe;
  --secundary-text-color: #5a5a5a;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-bg);
}

a{
  text-decoration: none;
}

li {
  list-style: none;
}


/*Header Style*/

header {
  width: 100%;
  height: 8vh;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Nav Style*/

.head-nav {
  width: 95%;
  height: 7vh;
  border-radius: 15px;
  border: 1px solid var(--tertiary-bg);
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 10px 1px #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .5s;

    .head-link {
      font-size: var(--large-font-size);
      padding: 0 0 0 10px;
      color: var(--primary-text-color);
    }

    &.shrink {
      width: 40%;
    }

}


/*Nav Sections*/
.nav-options {
  display: flex;
  justify-content: center;
  gap: 10px;

    a {
      width: 120px;
      height: 30px;
      display: flex;
      border-radius: 5px;
      background-color: rgba(36, 36, 36, 0.5);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      justify-content: center;
      align-items: center;
      text-align: center;
      color: var(--primary-text-color);
      transition: all .5s;
    }

    a:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
}

#contact {
  margin-right: 10px;
}

/*HERO Style*/

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* -webkit-backdrop-filter: blur(5px);
  mask-image: linear-gradient(to bottom, black 95%, transparent 100%); */

    .text-container {
      width: 45%;
      height: 80%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border-radius: 50px;
      background: linear-gradient(45deg, #0e0e0e, #101010);
      box-shadow:  20px -20px 60px #060606,
      -20px 20px 60px #181818;
      -webkit-animation: scale-in-hor-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	    animation: scale-in-hor-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;    
    }

    .image-container {
      width: 45%;
      height: 80%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgba(0, 0, 0, .5);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border-radius: 50px;
      background: linear-gradient(315deg, #0e0e0e, #101010);
      box-shadow:  -20px -20px 60px #060606,
      20px 20px 60px #181818;
      -webkit-animation: scale-in-hor-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	    animation: scale-in-hor-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}

.title-container, .paragraph-container {
  width: 70%;
  padding: 10px;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 30px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  font-size: var(--large-font-size);
  border-right: 0.3em solid green;
  -webkit-animation: 
  typeAndDelete 4s steps(18) infinite,
  blinkCursor 0.5s step-end infinite alternate;
  animation:
  typeAndDelete 4s steps(18) infinite,
  blinkCursor 0.5s step-end infinite alternate;
}

.paragraph {
  font-size: var(--large-font-size);
}

.image-section {
  width: 45%;
  height: 75%;
  border-radius: 50px;
  background: linear-gradient(315deg, #0e0e0e, #101010);
  box-shadow:  -20px -20px 60px #060606,
  20px 20px 60px #181818;

    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-repeat: no-repeat;
        object-fit: cover;
    }
}

/*Main Section Style*/

.main-section {
  width: 100%;
  height: auto;
  position: relative;
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 20px;

    .wrapper-container {
      width: 90%;
      max-width: 90%;
      height: 8%;
      padding: 20px 0;
      position: relative;
    }

    .skill-container {
      width: 90%;
      height: auto;
      position: relative;
    }

    .form-container {
      width: 90%;
      height: 35%;
      position: relative;
      overflow: hidden;
    }
}

/*Wrapp Section Style*/
.wrapper-container {
  position: relative;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  -webkit-mask-image:linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 100%
    );
  mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 100%
    );
}

.scroll-track {
  width: max-content;
  display: flex;
  gap: 180px;
  will-change: transform;
  position: relative;
  animation: carousel 40s linear infinite;
}

.items {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.items img {
  width: clamp(50px, 5vw, 80px);
  display: block;
  transition: transform .3s ease;
  user-select: none;
  -webkit-user-drag: none;
}

.items img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/*Skill Section Style*/
.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Skill Title Section*/
.skill-title-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  font-size: 8rem;
  letter-spacing: 5px;
  overflow: hidden;
}

/*Correct The Font Family Of The Skill Title*/

.skill-title {
  font-family: "Vina Sans", sans-serif;
}

.skill-title span {
  display: inline-block;
  font-family: "Vina Sans", sans-serif;
  letter-spacing: 5px;
}

.skills-section-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

    .fill{
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .skill-card {
      width: 90%;
      height: 90vh;
      padding: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      background-color: var(--primary-bg);
      color: var(--primary-text-color);
      border-radius: 20px;
      box-shadow:  -10px -5px 20px #060606,
      10px 5px 20px #181818;
    }
}

.skills-image-container {
  img {
    width: 150px;
    height: 150px;
    border-radius: 10px 0 10px 0;
  }
}

.skill-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
    h3 {
      margin-bottom: 15px;
    }
}

/*Form Section Style*/
.form-container {
  border-radius: 15px;

    .form-header {
      background-color: #333;
      height: 9%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .editor-wrapper {
      background-color: #ffffff;
      width: 100%;
      height: 91%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
}

/*Form Header*/
.window-controls {
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 99999%;
  transition: all .3s ease-in-out;
}

.circle:hover {
  opacity: .5;
  cursor: pointer;
}

.red {
  background-color: #ff5f56;
}

.yellow {
  background-color: #ffbd2e;
}

.green {
  background-color: #27c93f;
}

.tab {
  width: 90%;
  height: 75%;
  border-radius: 7.5px;
  display: flex;
  align-items: center;
  background-color: #4b4b4b;
  color: #ddd;
  padding-left: 20px;
  margin-left: 10px;
  font-size: 1.18rem;
}

/*Editor Wrapper*/
.input-container {
  width: 60%;
  height: 95%;
  border-radius: 7.5px;
  background-color: #000;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-title {
  font-size: var(--large-font-size);
  margin-top: 10px;
  margin-bottom: 10px;
}

.inputs {
  width: 80%;
  height: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

    input {
      width: 100%;
      height: 45px;
      border: none;
      outline: none;
      padding: 5px;
      border-radius: 3.75px;
      transition: all .2s ease;
    }

    textarea {
      width: 100%;
      max-width: 100%;
      height: 150px;
      padding: 5px;
      border: none;
      outline: none;
      border-radius: 3.75px;
      transition: all .2s ease;
    }

    button {
      width: 30%;
      height: 40px;
      border: none;
      outline: none;
      border-radius: 3.75px;
      font-size: 1.2rem;
      transition: all .3s ease-in-out;
    }

    button:hover {
      transform: scale(1.1);
      cursor: pointer;
      box-shadow: 0 2px 5px 2px #fff;
    }
}

:is(input, textarea):focus {
  border-left: 4px solid var(--tertiary-bg);
  box-shadow: 0 2px 5px 2px #fff;
}

/*Footer Style*/

footer {
  width: 100%;
  height: 30vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

    .footer-section-container {
      width: 95%;
      height: 90%;
      position: relative;
      border-radius: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(45deg, #0e0e0e, #101010);
      box-shadow:  20px -20px 60px #060606,
      -20px 20px 60px #181818;
      color: var(--primary-text-color);
    }
}

.author {
  font-size: var(--large-font-size);
  margin-left: 20px;
}


.social-media {
  width: 10%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;

    a {
      transition: all .3s ease-in-out;
    }

    a:hover {
      transform: scale(1.2);
    }
}



/*Animations*/

/*Wrapper Animation*/
@keyframes carousel{
  0% { transform: translateX(0); }
  100% { transform: translateX(-34.475%); }
}

/*Text Blinking*/

@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 11em;
  } /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2025-10-22 17:17:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-hor-left
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2025-10-22 17:19:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-hor-right
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-10-28 14:55:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-shadow-pop-tr
 * ----------------------------------------
 */
@-webkit-keyframes text-shadow-pop-tr {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 1px -1px #555555, 2px -2px #555555, 3px -3px #555555, 4px -4px #555555, 5px -5px #555555, 6px -6px #555555, 7px -7px #555555, 8px -8px #555555;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}
@keyframes text-shadow-pop-tr {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 1px -1px #555555, 2px -2px #555555, 3px -3px #555555, 4px -4px #555555, 5px -5px #555555, 6px -6px #555555, 7px -7px #555555, 8px -8px #555555;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}