@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-bg: #0f0f0f;
  --secundary-bg: #342550;
  --tertiary-bg: #979797;
  --large-font-size: 2rem;
  --normal-font-size: 1.25rem;
  --medium-font-size: .8rem;
  --tity-font-size: .5rem;
  --primary-text-color: #fefefe;
  --secundary-text-color: #5a5a5a;
}

html,
body {
  background-color: var(--primary-bg);
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

li {
  list-style: none;
}

/*Preloader Animation*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: var(--primary-bg);
  color: var(--primary-text-color);
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%);
  will-change: clip-path;
  overflow: hidden;
  z-index: 2;
}

.preloader p {
  color: var(--primary-text-color);
}

.preloader-revealer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%) scale(0);
  aspect-ratio: 1;
  background-color: var(--tertiary-bg);
  will-change: transform;
  z-index: 2;
}

.preloader-copy,
.preloader-copy-col,
.preloader-counter {
  flex: 1;
  display: flex;
}

.preloader-copy p {
  width: 100%;
}

.preloader-counter {
  justify-content: flex-end;
  font-family: monospace;
}

.line {
  will-change: transform;
  transform: translateY(100%);
}

.preloader-text1, .preloader-text2 {
  font-family: monospace;
  font-size: var(--large-font-size);
}


/*Header Style*/
header {
  width: 100%;
  height: 8vh;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
  transform: translateY(-100px);
}

/*Nav Style*/
.head-nav {
  width: 95%;
  height: 7vh;
  border-radius: 15px;
  font-family: monospace;
  border: 1px solid var(--tertiary-bg);
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 10px 1px #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .5s;

    .head-link {
      font-size: var(--large-font-size);
      padding: 0 0 0 10px;
      color: var(--primary-text-color);
    }

    &.shrink {
      width: 40%;
    }

}


/*Nav Sections*/
.nav-options {
  display: flex;
  justify-content: center;
  gap: 10px;

    a {
      width: 120px;
      height: 30px;
      display: flex;
      border-radius: 5px;
      background-color: rgba(36, 36, 36, 0.5);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      justify-content: center;
      align-items: center;
      text-align: center;
      color: var(--primary-text-color);
      transition: all .5s;
    }

    a:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
}

#contact {
  margin-right: 10px;
}


/*HERO Style*/
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
}

.hero-container {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  background: linear-gradient(45deg, #0e0e0e, #101010);
  box-shadow:  10px -10px 30px #060606,
  -10px 10px 30px #181818;   
}

.text-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  will-change: transform;

    .title {
      width: auto;
      max-width: 100%;
      font-size: var(--large-font-size);
      color: var(--primary-text-color);
      text-transform: uppercase;
      font-family: monospace;
      margin-bottom: 2rem;
      border-right: 0.2em solid green;
      overflow: hidden;
      white-space: nowrap;
      -webkit-animation: 
      typeAndDelete 4s steps(18) infinite,
      blinkCursor 0.5s step-end infinite alternate;
      animation:
      typeAndDelete 4s steps(18) infinite,
      blinkCursor 0.5s step-end infinite alternate;
      min-height: 1em;
    }

    .paragraph {
      width: 75%;
      font-size: 1.2rem;
      color: var(--primary-text-color);
      text-align: center;
      line-height: 1.5;
      font-family: monospace;
      text-align: justify;
      opacity: 0;
    }

    .paragraph span {
      display: inline-block;
    }
}

.image-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  will-change: transform;

    img {
      width: 60%;
      height: 70%;
      object-fit: cover;
      border-radius: 20px;
    }
}


/*Main Section Style*/
.main-section {
  width: 100%;
  height: auto;
  position: relative;
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper-container {
  max-width: 90%;
  height: 8%;
  padding: 20px 0;
}

/*Wrapp Section Style*/
.wrapper-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-bottom: 80px;
  -webkit-mask-image:linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 100%
    );
  mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 100%
    );
}

.scroll-track {
  width: max-content;
  display: flex;
  gap: 180px;
  will-change: transform;
  position: relative;
  animation: carousel 20s linear infinite;
}

#carousel-animation {
  scroll-margin-top: 80px;
}

.items {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.items img {
  width: clamp(50px, 5vw, 80px);
  display: block;
  transition: transform .3s ease;
  user-select: none;
  -webkit-user-drag: none;
}

.items img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/*Technologies Section*/
.technologies {
  width: 100%;
  height: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 80px;
}

/* Card con perspectiva 3D */
.technologies-item {
  width: 450px;
  height: 600px;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  background: linear-gradient(45deg, #0e0e0e, #101010);
  box-shadow:  10px -10px 30px #060606,
  -10px 10px 30px #181818;
  cursor: pointer;
}

/* Wrapper que rota en 3D */
.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ambas caras */
.front-content,
.back-content {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cara frontal */
.front-content {
  background-color: var(--primary-text-color);
}

/* Cara trasera (rotada) */
.back-content {
  background-color: var(--primary-bg);
  font-size: var(--normal-font-size);
  transform: rotateY(180deg);
  color: var(--primary-text-color);
  text-align: justify;
  height: auto;
  padding: 40px;
  letter-spacing: 1px;
  font-family: monospace;
}

.back-content span {
  display: inline-block;
}

/*Project Title Section*/
.skill-title-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: end;
  color: var(--primary-text-color);
  font-size: 8rem;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.skill-title {
  scroll-margin-top: 80px;
  -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-fill-mode: both;
  animation-timeline: view();
  animation-range: entry 35% cover 50%;
  overflow: hidden;
  font-family: "Vina Sans", sans-serif;
}

.projects-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 5rem;  

    img {
      width: 90%;
      border-radius: 20px;
      object-fit: cover;
      animation-name: show;
      animation-fill-mode: both;
      animation-timeline: view();
      animation-range: entry 25% cover 50%
    }
}

/*Footer Style*/
footer {
  width: 100%;
  height: 30vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

    .footer-section-container {
      width: 95%;
      height: 90%;
      position: relative;
      border-radius: 30px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-family: monospace;
      background: linear-gradient(45deg, #0e0e0e, #101010);
      box-shadow:  10px -10px 30px #060606,
      -10px 10px 30px #181818;
      color: var(--primary-text-color);
    }
}

.author {
  width: 50%;
  height: 25%;
  font-size: var(--large-font-size);
  margin-left: 20px;
  display: flex;
}

.social-media {
  width: 45%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  gap: 20px;

    a {
      transition: all .3s ease-in-out;
    }

    a:hover {
      transform: scale(1.2);
    }
}

.copyright {
  color: #696969;
}

/*Animations*/

@keyframes show {
  from {
    opacity: 0; scale: 10%;
  }

  to {
    opacity: 1; scale: 100%;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2026-1-27 17:42:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

/*Wrapper Animation*/
@keyframes carousel{
  0% { transform: translateX(0); }
  100% { transform: translateX(-34.45%); }
}

/*Text Blinking*/

@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 10.3em;
  } /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}
