@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-bg: #0f0f0f;
  --secundary-bg: #342550;
  --tertiary-bg: #979797;
  --large-font-size: 2rem;
  --normal-font-size: 1rem;
  --medium-font-size: .8rem;
  --tity-font-size: .5rem;
  --primary-text-color: #fefefe;
  --secundary-text-color: #5a5a5a;
}

html,
body {
  background-color: var(--primary-bg);
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
}

li {
  list-style: none;
}


/*Header Style*/

header {
  width: 100%;
  height: 8vh;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Nav Style*/

.head-nav {
  width: 95%;
  height: 7vh;
  border-radius: 15px;
  font-family: monospace;
  border: 1px solid var(--tertiary-bg);
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 10px 1px #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .5s;

    .head-link {
      font-size: var(--large-font-size);
      padding: 0 0 0 10px;
      color: var(--primary-text-color);
    }

    &.shrink {
      width: 40%;
    }

}


/*Nav Sections*/
.nav-options {
  display: flex;
  justify-content: center;
  gap: 10px;

    a {
      width: 120px;
      height: 30px;
      display: flex;
      border-radius: 5px;
      background-color: rgba(36, 36, 36, 0.5);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      justify-content: center;
      align-items: center;
      text-align: center;
      color: var(--primary-text-color);
      transition: all .5s;
    }

    a:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
}

#contact {
  margin-right: 10px;
}


/*HERO Style*/
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
  background: linear-gradient(45deg, #0e0e0e, #101010);
  box-shadow:  10px -10px 30px #060606,
  -10px 10px 30px #181818;   
}

.text-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    .title {
      width: max-content;
      font-size: var(--large-font-size);
      color: var(--primary-text-color);
      text-transform: uppercase;
      font-family: monospace;
      margin-bottom: 2rem;
      border-right: 0.3em solid green;
      overflow: hidden;
      white-space: nowrap;
      -webkit-animation: 
      typeAndDelete 4s steps(18) infinite,
      blinkCursor 0.5s step-end infinite alternate;
      animation:
      typeAndDelete 4s steps(18) infinite,
      blinkCursor 0.5s step-end infinite alternate;
    }

    .paragraph {
      width: 75%;
      font-size: 1.2rem;
      color: var(--primary-text-color);
      text-align: center;
      line-height: 1.5;
      font-family: monospace;
      text-align: justify;
    }

    .paragraph span {
      display: inline-block;
    }
}

.image-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

    img {
      width: 50%;
      height: 70%;
      object-fit: cover;
      border-radius: 20px;
    }
}


/*Main Section Style*/
.main-section {
  width: 100%;
  height: auto;
  position: relative;
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

    .wrapper-container {
      width: 90%;
      max-width: 90%;
      height: 8%;
      padding: 20px 0;
      position: relative;
    }

    .form-container {
      width: 90%;
      height: 75vh;
      font-family: monospace;
    }
}

/*Wrapp Section Style*/
.wrapper-container {
  position: relative;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  -webkit-mask-image:linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 100%
    );
  mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 100%
    );
}

.scroll-track {
  width: max-content;
  display: flex;
  gap: 180px;
  will-change: transform;
  position: relative;
  animation: carousel 40s linear infinite;
}

.items {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.items img {
  width: clamp(50px, 5vw, 80px);
  display: block;
  transition: transform .3s ease;
  user-select: none;
  -webkit-user-drag: none;
}

.items img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/*Project Title Section*/
.skill-title-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  font-size: 8rem;
  letter-spacing: 5px;
  overflow: hidden;
}

.skill-title span {
  display: inline-block;
  font-family: "Vina Sans", sans-serif;
}

#project1, #project2 {
  width: 100%;
  height: 100vh;
}

.card,
.scroll {
  position: relative;
}

.skill-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 700px;
  border-radius: 50px;
  overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}




/*Footer Style*/
footer {
  width: 100%;
  height: 30vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

    .footer-section-container {
      width: 95%;
      height: 90%;
      position: relative;
      border-radius: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-family: monospace;
      background: linear-gradient(45deg, #0e0e0e, #101010);
      box-shadow:  10px -10px 30px #060606,
      -10px 10px 30px #181818;
      color: var(--primary-text-color);
    }
}

.author {
  font-size: var(--large-font-size);
  margin-left: 20px;
}

.copyright {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.social-media {
  width: 10%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;

    a {
      transition: all .3s ease-in-out;
    }

    a:hover {
      transform: scale(1.2);
    }
}



/*Animations*/

/*Wrapper Animation*/
@keyframes carousel{
  0% { transform: translateX(0); }
  100% { transform: translateX(-34.475%); }
}

/*Text Blinking*/

@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 11em;
  } /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}
